name: Task 3 - Scheduled Build

on:
  schedule:
    - cron: '15 14 * * *'  # Runs daily at midnight UTC
  workflow_dispatch:

jobs:
  scheduled-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print message
        run: echo "Scheduled build completed successfully!"
